header { margin: 0 auto;}

h1 {color: #49274A;}

h2{color:#49274A;}

#navbar {
  position: fixed;
  top: 0;
  width: 100%; 
  background-color: #439A86;
  flex: 1;
}

nav ul {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  text-decoration-color: none;
  list-style-type: none;
    padding-top: 1rem;
    flex-basis: 33.333%;
 }

ul a {
  text-decoration: none;
  list-style-type: none;
  color: black;
  padding: 1rem 10rem;
  
}
@media (min-height: 455px){
#welcome-section{
    height: 100vh;
    padding-top: 50vh;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #BCD8C1;
  }
}
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  background-color: #007991;
  padding-top: 4rem;
  padding-bottom: 1rem;
}

h2 a {
  font-size: 1.7rem;
  text-decoration: none;
  color: #F4D35E;
}

a:hover {
  color: #49274A;
    background-color: rgba(0,0,0,0.2);
    list-style-type: none;
}

.Projects-section {
  align-content: center;
  text-align: center;
    height: 100vh;
}

#proto {
  font-size: 1.5rem;
}

#padding {
  padding-bottom: 2rem;
}

#luke {
    padding-top: 2rem;
}

.aboutMe {
    background-color: #BCD8C1;
    display: flex;
    justify-content: center;
    align-self: center;
    height: 100vh;
}
p {
    font-size: 1.3rem;
    padding-bottom: 0;
}
h1 {
    padding-top: 1.5rem;
}
#aboutMe {
    padding-top: 30vH;
}

/* --------- POKEDEX ------------ */
#pokedex {
    background-color: #007991;
}

#pokeContent {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

#pokedex h1 {
    display: flex;
    justify-content: center;
}


figure {
    border: thin #c0c0c0 solid;
    padding: 5px;
    max-width: 220px;
    box-shadow: 5px 5px 5px #333;
}

img {
    max-width: 220px;
    max-height: 150px;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

#newCard {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

/* Card Flip CSS */

.card {
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  margin-right: .5rem;
  margin-bottom: .5rem;
}
.card.is-flipped {
  transform: rotateY(180deg);
}
.card__face {
  backface-visibility: hidden;
}
.card__face--back {
  transform: rotateY(180deg);
  margin-top: -12rem;
  max-height: 176px;
    background-image: url(img/pokeball.jpg);
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px #333;
}
.card__face--back p {
    margin-left: 1rem;
    margin-right: 1rem;
    color: black;
    font-weight: bold;
    text-align: center;
    background-color: rgba(245,255,250,.4)
}